{
  "openapi": "3.0.4",
  "info": {
    "title": "ZRExpress.Api",
    "description": "",
    "contact": {
      "name": "ZRExpress",
      "email": "support@zrexpress.net"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.zrexpress.app"
    }
  ],
  "paths": {
    "/api/v{version}/products": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Creates a product",
        "description": "Creates a product. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "CreateProductEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "localStock": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "sku": {
                    "type": "string",
                    "nullable": true
                  },
                  "categoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "subCategoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "basePrice": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "purchasePrice": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "length": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "width": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "height": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "weight": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/search": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Gets a list of products",
        "description": "Gets a list of products with pagination and filtering support. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "SearchSupplierProductsEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchProductsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "tenantId": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "sku": {
                            "type": "string",
                            "nullable": true
                          },
                          "localStock": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "categoryName": {
                            "type": "string",
                            "nullable": true
                          },
                          "subCategoryName": {
                            "type": "string",
                            "nullable": true
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "number",
                                "format": "double"
                              },
                              "promotional": {
                                "type": "number",
                                "format": "double",
                                "nullable": true
                              },
                              "promotionStart": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              },
                              "promotionEnd": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "purchasePrice": {
                            "type": "number",
                            "format": "double",
                            "nullable": true
                          },
                          "dimensions": {
                            "type": "object",
                            "properties": {
                              "length": {
                                "type": "number",
                                "format": "double",
                                "nullable": true
                              },
                              "width": {
                                "type": "number",
                                "format": "double",
                                "nullable": true
                              },
                              "height": {
                                "type": "number",
                                "format": "double",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "warehouseStock": {
                            "type": "object",
                            "properties": {
                              "damageQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "availableQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "pendingReceptionQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "withdrawalQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "underDeliveryQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "deliveredQuantity": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "hubId": {
                                "type": "string",
                                "format": "uuid",
                                "nullable": true
                              },
                              "hubName": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "weight": {
                            "type": "number",
                            "format": "double",
                            "nullable": true
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "color": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "stockQuantity": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price": {
                                  "type": "object",
                                  "properties": {
                                    "base": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "promotional": {
                                      "type": "number",
                                      "format": "double",
                                      "nullable": true
                                    },
                                    "promotionStart": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    },
                                    "promotionEnd": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/{id}": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Get product details",
        "description": "Get the details of a product by its ID. Permissions requises : tous les SupplierRoles.",
        "operationId": "GetSupplierProductEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "includeReceipts": {
                    "type": "boolean"
                  },
                  "includeStockMovement": {
                    "type": "boolean"
                  },
                  "includeWarehouseStock": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "sku": {
                      "type": "string",
                      "nullable": true
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "subCategories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "subCategory": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "price": {
                      "type": "object",
                      "properties": {
                        "base": {
                          "type": "number",
                          "format": "double"
                        },
                        "promotional": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        },
                        "promotionStart": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "promotionEnd": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "purchasePrice": {
                      "type": "number",
                      "format": "double",
                      "nullable": true
                    },
                    "dimensions": {
                      "type": "object",
                      "properties": {
                        "length": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        },
                        "width": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        },
                        "height": {
                          "type": "number",
                          "format": "double",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "localStock": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "warehouseStocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "damageQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "availableQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "pendingReceptionQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "withdrawalQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "underDeliveryQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "deliveredQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "hubId": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true
                          },
                          "hubName": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "weight": {
                      "type": "number",
                      "format": "double",
                      "nullable": true
                    },
                    "variants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "color": {
                            "type": "string",
                            "nullable": true
                          },
                          "stockQuantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "base": {
                                "type": "number",
                                "format": "double"
                              },
                              "promotional": {
                                "type": "number",
                                "format": "double",
                                "nullable": true
                              },
                              "promotionStart": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              },
                              "promotionEnd": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "stockMovements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "productInfo": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "price": {
                                "type": "number",
                                "format": "double"
                              }
                            },
                            "additionalProperties": false
                          },
                          "receipt": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "type": {
                                "type": "string",
                                "nullable": true
                              },
                              "totalProducts": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "referenceId": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "catalog"
        ],
        "summary": "Update a product",
        "description": "Update a product",
        "operationId": "UpdateProductEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "categoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "subCategoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "length": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "purchasePrice": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "width": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "height": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "weight": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "sku": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "catalog"
        ],
        "summary": "Deletes a product",
        "description": "Deletes a product by id with its variants",
        "operationId": "DeleteProductEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/{id}/price": {
      "patch": {
        "tags": [
          "catalog"
        ],
        "summary": "Update product's price ",
        "description": "Update the price of a product",
        "operationId": "UpdatePriceEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "basePrice": {
                    "type": "number",
                    "format": "double"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/{id}/discount": {
      "patch": {
        "tags": [
          "catalog"
        ],
        "summary": "Update product's discount ",
        "description": "Update the discount price of a product",
        "operationId": "UpdateDiscountEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "promotionalPrice": {
                    "type": "number",
                    "format": "double",
                    "nullable": true
                  },
                  "promotionStart": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "promotionEnd": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/product/{productId}/local-stock": {
      "patch": {
        "tags": [
          "catalog"
        ],
        "summary": "Update local Stock",
        "description": "Update local Stock.",
        "operationId": "UpdateProductLocalStockEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "localStock": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/products/import/template": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Download template for importing bulk catalog products",
        "description": "Returns an Excel template file for bulk importing catalog products.",
        "operationId": "DownloadTemplateBulkCatalogProductsEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v{version}/products/import": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Imports products from an Excel file",
        "description": "Imports products using an Excel file. Supports two formats: 1) multipart/form-data with 'file' field (recommended, more efficient), 2) JSON body with 'excelFileBase64' (legacy). Optionally provide a dictionary of columns and their matching propertyNames.",
        "operationId": "ImportProductEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "nullable": true
                  },
                  "columnsAndTheirPropertyNames": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "succeededs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rowIndex": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "productId": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "faileds": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rowIndex": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/stock-movements/product/warehouse-stock/user": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Creates a Stock movement by user",
        "description": "Creates a stock movement by user with type parameters equal to waiting-reception.",
        "operationId": "CreateProductStockMovementUserEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "quantity": {
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "additionalProperties": false
                    },
                    "nullable": true
                  },
                  "hubStockId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/receipts/search": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Gets a list of receipts",
        "description": "Gets a list of receipts with pagination and filtering support Required Permissions: HubStockManager, SupplierAdmin, or SupplierParcelsManager.",
        "operationId": "SearchReceiptsEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchReceiptsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "referenceId": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "totalProducts": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "supplier": {
                            "type": "object",
                            "properties": {
                              "supplierId": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "receivedBy": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/receipts/{id}": {
      "get": {
        "tags": [
          "catalog"
        ],
        "summary": "Get Receipt details",
        "description": "Get the details of a Receipt by its ID. Required Permissions: HubStockManager, SupplierAdmin, or SupplierParcelsManager.",
        "operationId": "GetReceiptEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "referenceId": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "totalProducts": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "supplier": {
                      "type": "object",
                      "properties": {
                        "supplierId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street": {
                          "type": "string",
                          "nullable": true
                        },
                        "city": {
                          "type": "string",
                          "nullable": true
                        },
                        "cityTerritoryId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "district": {
                          "type": "string",
                          "nullable": true
                        },
                        "districtTerritoryId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "postalCode": {
                          "type": "string",
                          "nullable": true
                        },
                        "country": {
                          "type": "string",
                          "nullable": true
                        },
                        "coordinates": {
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "number",
                              "format": "double",
                              "nullable": true
                            },
                            "lng": {
                              "type": "number",
                              "format": "double",
                              "nullable": true
                            }
                          },
                          "additionalProperties": false
                        },
                        "hubId": {
                          "type": "string",
                          "format": "uuid",
                          "nullable": true
                        },
                        "hubName": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "type": {
                      "type": "string",
                      "nullable": true
                    },
                    "receivedBy": {
                      "type": "string",
                      "nullable": true
                    },
                    "stockMovements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "productInfo": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "price": {
                                "type": "number",
                                "format": "double"
                              }
                            },
                            "additionalProperties": false
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/categories/search": {
      "post": {
        "tags": [
          "catalog"
        ],
        "summary": "Gets a list of categories",
        "description": "Gets a list of categories with pagination and filtering support. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "SearchCategoriesEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "subCategories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "name": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-categories/search": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Gets a list of claim categories",
        "description": "Gets a list of claim categories with pagination and filtering support",
        "operationId": "SearchClaimCategoriesEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchClaimCategoriesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-categories/{id}": {
      "get": {
        "tags": [
          "claims"
        ],
        "summary": "gets claim category item by id",
        "description": "gets claim category item by id",
        "operationId": "GetClaimCategoryEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claims/search": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Gets a list of claims for Current Supplier",
        "description": "Gets a list of claims for Current Supplier with pagination and filtering support. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "SearchClaimsSupplierEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchClaimsSupplierRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "title": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "parcel": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              },
                              "district": {
                                "type": "string",
                                "nullable": true
                              },
                              "trackingNumber": {
                                "type": "string",
                                "nullable": true
                              },
                              "stateName": {
                                "type": "string",
                                "nullable": true
                              },
                              "customerFullName": {
                                "type": "string",
                                "nullable": true
                              },
                              "phone": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "isBlocking": {
                                "type": "boolean"
                              },
                              "isLocked": {
                                "type": "boolean"
                              },
                              "color": {
                                "type": "string",
                                "nullable": true
                              },
                              "ranking": {
                                "type": "integer",
                                "format": "int32"
                              }
                            },
                            "additionalProperties": false
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastModifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "claimId": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "content": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "modifiedBy": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "readOnly": true
                                    },
                                    "fullName": {
                                      "type": "string",
                                      "nullable": true,
                                      "readOnly": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claims/{claimId}": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "gets claim item by id",
        "description": "gets claim item by id. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "GetClaimSupplierEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "includeComments": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "title": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "parcel": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "city": {
                          "type": "string",
                          "nullable": true
                        },
                        "district": {
                          "type": "string",
                          "nullable": true
                        },
                        "trackingNumber": {
                          "type": "string",
                          "nullable": true
                        },
                        "stateName": {
                          "type": "string",
                          "nullable": true
                        },
                        "customerFullName": {
                          "type": "string",
                          "nullable": true
                        },
                        "phone": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "state": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "isBlocking": {
                          "type": "boolean"
                        },
                        "isLocked": {
                          "type": "boolean"
                        },
                        "color": {
                          "type": "string",
                          "nullable": true
                        },
                        "ranking": {
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "additionalProperties": false
                    },
                    "category": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "additionalProperties": false
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "lastModifiedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "claimId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "modifiedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "readOnly": true
                              },
                              "fullName": {
                                "type": "string",
                                "nullable": true,
                                "readOnly": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "claims"
        ],
        "summary": "Update details for a specific claim.",
        "description": "Update details for a specific claim. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole, HubAdminRole, HubClaimsManagerRole.",
        "operationId": "UpdateClaimDetailsEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "categoryId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "title": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claims": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Creates a claim",
        "description": "Creates a claim. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "CreateClaimEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "categoryId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "parcelId": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claims/{id}": {
      "delete": {
        "tags": [
          "claims"
        ],
        "summary": "Deletes a Claim",
        "description": "Deletes a Claim by id. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "DeleteClaimEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claims/{id}/state-histories": {
      "get": {
        "tags": [
          "claims"
        ],
        "summary": "get claim state histories",
        "description": "get claim state histories",
        "operationId": "GetClaimStateHistoryEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "previousState": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "isLocked": {
                            "type": "boolean",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "newState": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "isLocked": {
                            "type": "boolean",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "modifiedBy": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "readOnly": true
                          },
                          "fullName": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "comment": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-comments/{claimId}": {
      "patch": {
        "tags": [
          "claims"
        ],
        "summary": "Create a comment for a specific claim for current supplier.",
        "description": "Create a comment for a specific claim for current supplier. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "CreateClaimCommentCurrentSupplierEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claimId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "comment": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-comments/{claimId}/search": {
      "post": {
        "tags": [
          "claims"
        ],
        "summary": "Gets a list of claim comments for a specific claim by Id for current supplier",
        "description": "Gets a list of claim comments for a specific claim by Id for current supplier with pagination and filtering support. Permissions requises : SupplierAdminRole, SupplierParcelsManagerRole.",
        "operationId": "SearchClaimCommentsCurrentSupplierEndpoint",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "The requested API version",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Tenant",
            "in": "header",
            "description": "Input your tenant Id to access this API",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchClaimCommentsCurrentSupplierRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "claimId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "content": {
                            "type": "string",
                            "nullable": true
                          },
                          "modifiedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "readOnly": true
                              },
                              "fullName": {
                                "type": "string",
                                "nullable": true,
                                "readOnly": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "pageNumber": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "totalPages": {
                      "type": "integer",
                      "format": "int32",
                      "readOnly": true
                    },
                    "hasPrevious": {
                      "type": "boolean",
                      "readOnly": true
                    },
                    "hasNext": {
                      "type": "boolean",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/claim-workflows/search": {
      "post": {
        "tags": [
          "claims"
        ],
[...]
